server {
    listen 80;
    ### 1: CHANGE THE DOMAIN!
    server_name pmis2.kspmis.com;
    
    location / {
        ### 2: CHANGE THE ALIAS!
        set $upstream_webapp pmis2;
        proxy_pass http://$upstream_webapp;
        
        include conf.d/proxy-header.include;
    }

    # Remove the comment below if the service is NOT PMIS
    # The location .well-known is used by certbot for generating a new ssl certificate
    #location /.well-known {}
}