server {
    listen 80;
    ### 1: CHANGE THE DOMAIN!
    server_name pmis1.kspmis.com;
    return 301 https://$server_name$request_uri;
}

server {
    listen 443 ssl;

    ### 2: CHANGE THE DOMAIN!
    server_name pmis1.kspmis.com;
    location / {
        ### 3: CHANGE THE ALIAS!
        set $upstream_webapp pmis1;
        proxy_pass http://$upstream_webapp;
        include conf.d/proxy-header.include;
    }

    ### 4: CHANGE THESE PATH!
    #ssl_certificate /tmp/ssl/cert.pem;
    #ssl_certificate_key /tmp/ssl/privkey.pem;
}