server {
    listen 80;
    server_name pmis1.kspmis.com;
    location / {
        return 301 https://$server_name$request_uri;
    }
}

server {
    listen 443 ssl;
    server_name pmis1.kspmis.com;
    add_header X-Request-ID $request_id; # Return to client
    location / {
        set $upstream_webapp pmis1;
        proxy_pass http://$upstream_webapp;
        include conf.d/proxy-header.include;
    }
    ssl_certificate /etc/nginx/ssl/cert.pem;
    ssl_certificate_key /etc/nginx/ssl/privkey.pem;
}